body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 10px 10px 10px;
    font-size: 16px;
    
}
header{
    margin:  0 auto;
    background-color: #ff0000;
    width: 70%;
    text-align: center;
    
}
nav{
    margin: 0 auto;
    width: 50%;
}